.hero-avatar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.flex-container {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
    padding: 20px;
}

.hero-buttons {
    margin: auto;
}

.hero-buttons a {
    color: #6e15aa;
    text-decoration: none;
    margin: 0 20px;
}

body {
    font-family: "Lucida Sans", sans-serif;
    background-color: #000000;
    color: #cccccc;
    margin: 0;
    padding: 20px;
    text-align: center;
    font-variant: small-caps;
}

h1 {
    white-space: nowrap;
    color: #6e15aa;
    padding-left:20px;
    padding-right: 20px;
}

hr {
    background-color: white;
    animation-name: myRulerAnime;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    height: 3px;
}

@keyframes myRulerAnime {
    0%   {background-color: red;}
    10%  {background-color: orange;}
    20%  {background-color: yellow;}
    30%  {background-color: green;}
    40%  {background-color: blue;}
    50%  {background-color: purple;}
    60%  {background-color: blue;}
    70%  {background-color: green;}
    80%  {background-color: yellow;}
    90%  {background-color: orange;}
    100% {background-color: red;}
}

.skills ul, .projects ul {
    text-align: left;
    list-style-type: none;
    padding-left: 20px;
}

.projects a {
    color: #6e15aa;
    text-decoration: none;
}

.projects img {
    height: 50px;
    width: 50px;
    margin: 10px;
    border-radius: 100px;
    border-color: blueviolet;
    border-style: solid;
}

.projects img:hover {
    transform: scale(2);
    transition: transform 0.4s;
}

.education ul, .experience ul {
    list-style-type: none;
    padding-left: 20px;
    text-align: left;
}

.experience ul li details ul {
    list-style-type: disc;
}

footer {
    text-align: center;
    margin-top: 40px;
    line-height: 1px;
}
