@media (max-width: 600px) {
    .logo {
        width: 150px;
    }

    .card {
    width: 100%;
    display: block;
    text-align: justfy;
    margin-bottom: 30px;
    }

    .card img {
        width: 100px;
        display: inline;
        object-fit: cover;
        margin-bottom: 10px;
    }

    h1 {
        font-size: 3.5rem;
        text-align: center;
    }
}

body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    display: flex;
    flex-direction: column;
    background-color: #faf9f6;
    min-height: 95vh;
}

.main { flex: 1; }

h1 { font-size: 5rem; }

.tile-image {
    height: 200px;
    float: left;
    margin-right: 50px;
}

.card { width: 45%; }

.left { float: left; }

.right { float: right; }

.creative { color: midnightblue;}

footer {
    color: midnightblue;
    text-align: center;
    margin-top: 40px;
    line-height: 1px;
}