main {
  width: 70%;
  margin: auto;
  text-align: center;
  flex: 1;
}

#btnRoll {
  font-family: 'Atma', serif;
  font-size: 2rem;
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #232931;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.dice {
  text-align: center;
  display: inline-block;
  font-family: 'Atma', serif;
  color: #761ee9;
  font-size: 3rem;
  margin: 20px;
}

body {
  background-color: #7191c4;
  font-family: 'Atma', serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}

html, body {
    height: 100%;
    margin: 0;
}

h1 {
  margin: 30px;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #761ee9;
}

img {
  width: 8rem;
  padding: 20px;
}

footer {
  margin-top: 5%;
  color: #761ee9;
  text-align: center;
  font-size: 2rem;
}
